<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Список</title>
</head>
<body>
<div class="center-table border">
    <button class="button-back" onclick="location='/'">Back</button>
    <table class="table">
        {% for t in texts %}
            <tr class="row">
                <th>
                    <h2>{{ t.id }}.</h2>
                </th>
                <th>
                    <p>{{ t.text }}</p>
                </th>
            </tr>
        {% endfor %}
    </table>
    <button class="button-back" onclick="location='/'">Back</button>
</div>


</body>
</html>