<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кружок по Питону</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="center border">
        <p class="text"></p>
        <form id="form" action="/create/" method="post">
            {% csrf_token %}
            <!--<input type="text" name="text">-->
            <label class="text">Здесь можно оставить отзыв о кружке по питону
                <textarea rows="4" cols="50" name="text" form="form"></textarea>
            </label>
            <br>
            <input class="button-back" type="submit" value="OK">
        </form>
    </div>
</body>
</html>